@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #888;
}

.Digital-container {
  width: 500px;
  background-color: #fff;
  padding: 50px;
  text-align: center;
  border-radius: 5px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  ;
}

h1 {
  color: orangered;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 50px;
}

.Time {
  font-weight: 600;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 30px;
  gap: 10px;
}
.Date{
  font-weight: 400;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 30px;
  color: #888;
}
